
.mg-next,
.mg-prev {
  width: 30px;
  height: 30px;
  border-radius: 00%;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

@media all and (max-width: 650px) {
  .top-header {
    flex-direction: column;
    padding-inline: 0;
  }
  .top-header .nav,
  .top-header .nav ul {
    width: 100%;
    padding: 0;
  }
  .top-header .nav li {
    flex: 1;
    padding-block: 1em;
    text-align: center;
  }
  .top-header .nav li a{
  font-size: 0.9em;

  }
  .picture.left::before,
  .picture.right::before {
    height: 150px;
  }
  #services .container {
    align-items: center;
  }
  #gallery .title, #services .title {
    font-size: 1.4em;
  }
  .quote__text {
    font-weight: 300;
    font-size:1em;
    line-height: 1.2;
  }

  .service {
    max-width: 90%;
  }
  #about,
  #contact {
    padding-inline: 2em;
    padding-block: 2em;
  }
  form {
    width: 100%;
  }
  .picture {
    width: 80%;
  }
}
